@page "/"
@using MLFootyWebsite.Data
@inject FixtureService FixtureService

<h1>Result probabilities</h1>

@if (matchFixtures == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>League</th>
                <th>Date</th>
                <th>Home team</th>
                <th>Away team</th>
                <th>Home prob</th>
                <th>Draw prob</th>
                <th>Away prob</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var fx in matchFixtures)
            {
                <tr>
                    <td>@fx.FxLeague</td>
                    <td>@fx.FxDate.ToString("ddd, dd-MM-yyyy")</td>
                    <td>@fx.FxHomeTeam</td>
                    <td>@fx.FxAwayTeam</td>
                    <td>@fx.FxHomeProb</td>
                    <td>@fx.FxDrawProb</td>
                    <td>@fx.FxAwayProb</td>
                </tr>
            }
        </tbody>
    </table>
}

@code{
    public List<Fixture> matchFixtures = new List<Fixture>();
    private List<Fixture> ReadCsvFx(){
        matchFixtures = FixtureService.GetPredFixtures();
        return matchFixtures;
    }
    protected override void OnInitialized(){
        ReadCsvFx();
    }
}